@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_layout4";
}
<br />
<br />
<div class="row">
    <div class="col-md-5">
        <img src="https://img.freepik.com/free-vector/computer-login-concept-illustration_114360-7962.jpg" />
    </div>
    <div class="col-md-7">
        <center>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h1>Please login To Continue </h1>
            <hr />
            <h5>In Order To Purchase or Add Products To Cart You Must First login</h5>
            <br />
            <a href="/Identity/Account/login" class="btn btn-primary">Login Now</a>
        </center>
    </div>
</div>